# Minimal MkDocs configuration

site_name: DummyPyPi2 Documentation
docs_dir: source
theme:
  name: material

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences